{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create an Account{% endblock %}

{% block content %}

<h1>Create an account</h1>
<p>Please, sign up using the following form:</p>
<div class="SignUp-form">
    <form action="." method="POST" class="form-group">
        {{ form.as_p }}
        {% csrf_token %}
        <br/>
        <p><button type="submit" class="btn btn-success">Create an account</button></p>
    </form>
<div>
    <p>Already have an Account?<a class="ml-2"  href="{% url 'login' %}"> Log In </a></p>
</div>

{% endblock %}